<!DOCTYPE html>
<html>
  <%- include('../includes/head'); %>
  <body>
    <%- include('../includes/navbar'); %>
    <%- include('../includes/navbar2'); %>
    <br/>
    <center>
      <table style="width:100%;margin-left:130px;height:100%;">
        <tr>
          <th style="width:50%;position:absolute;top:-1;"><div style="position:relative;top:0;width:70%;">
      <div style="background-color:transparent;width:100%;height:3em;">
        <div style="float:left;display:flex;gap:10px;">
          <img src="https://cdn.picrew.me/app/image_maker/1388625/icon_8v9i99lsyve3qQWO.jpg" style="width:100%;height:3em;border-radius:5px;outline:solid lightgrey;">
          <a><%= user %></a>
        </div>
      </div>
      <textarea placeholder="Tap here to make a post." style="position:relative;top:1em;background-color:#fefefe;resize:none;width:100%;height:7.5em;border:none;border-radius:10px;outline:solid lightgrey 3px;" id="lol" oninput="check()"></textarea>
        <center><button id="bruh" onclick="req('post')" style="position:relative;top:1em;width:8rem;height:2.5rem;border:none;border-radius:5px;box-shadow: 0 0px 10px rgb(0 0 0 / 20%);border:solid;border-color:darkgrey;border-top:0;border-right:0;border-left:0;background-color:#fcfcfc;">
          Post
        </button></center>
      </div>
    </div><br/><br/></th>
      <th style="width:50%;" id="fu"><div style="display:flex;flex-direction: column-reverse;">
              <div style="background-color:white;border-radius:10px;position:relative;width:70%;" id="haha-2">
        <div style="background-color:transparent;width:100%;height:3em;padding-top:1em;border-radius:15px;">
          <div style="float:left;position:relative;left:1em;display:flex;gap:10px;">
            <img src="https://cdn.picrew.me/app/image_maker/1388625/icon_8v9i99lsyve3qQWO.jpg" style="width:3.2em;height:3em;border-radius:5px;box-shadow: 0 5px 5px rgb(0 0 0 / 80%);">
            <div style="display:block;text-align:left;">
              <a <% if(poster !== "Guest") { %>href="/users/<%= poster %><% } %>"><%= poster %> <a style="color:#7be026">OP</a></a><br/>
              <a style="font-weight: normal;font-size:0.8em;opacity:30%;"><%= time.toDateString() %></a>
            </div>
          </div>
        </div>
        
        <textarea style="display:block;position:relative;left:1em;top:1em;resize:none;width:95%;height:5em;border:none;border-radius:10px;text-align:left;" id="lol" readonly><%= content %></textarea><br/>
        <div style="display:flex;gap:1em;">
          <div style="position:relative;left:0;background:linear-gradient(to bottom, #fefefe, #dadada 155px);border-radius:7px;left:1em;font-weight:normal;display:flex;border:solid 2px rgba(0, 0, 0, 0.3);border-bottom:solid 3px rgba(0, 0, 0, 0.5);border-top:0;width:5.5em;height:2em;gap:7px;justify-content:center" onclick="req('yeah', '<%= key %>')"><i class="fa fa-plus" style="position:relative;top:3px;left:1px;font-size:1.5em;color:#7be026;"></i>Yeah!?</div>
          <a href="/posts/<%= key %>"><div style="position:relative;right:0;background:linear-gradient(to bottom, #fefefe, #dadada 155px);border-radius:7px;left:1em;font-weight:normal;display:flex;border:solid 2px rgba(0, 0, 0, 0.3);border-bottom:solid 3px rgba(0, 0, 0, 0.5);border-top:0;width:5.5em;height:2em;gap:7px;justify-content:center"><i class="far fa-comment-alt" style="position:relative;top:3px;left:1px;font-size:1.5em;color:#7be026;"></i>Reply</div></a>
          <a style="font-size:0.6em;position:relative;left:1em;top:1em;"><%= yeah %> Yeahs</a>
        </div>
        <div style="height:1em;"></div>
        </div>
        
      </div><br/><br/>
        <% replies.forEach(function(lol, key) { %>
      <div style="background-color:white;border-radius:10px;position:relative;width:70%;" id="haha-2">
        <div style="background-color:transparent;width:100%;height:3em;padding-top:1em;border-radius:15px;">
          <div style="float:left;position:relative;left:1em;display:flex;gap:10px;">
            <img src="https://cdn.picrew.me/app/image_maker/1388625/icon_8v9i99lsyve3qQWO.jpg" style="width:3.2em;height:3em;border-radius:5px;box-shadow: 0 5px 5px rgb(0 0 0 / 80%);">
            <div style="display:block;text-align:left;">
              <a <% if(lol.poster !== "Guest") { %>href="/users/<%= lol.poster %><% } %>"><%= lol.poster %></a><br/>
              <a style="font-weight: normal;font-size:0.8em;opacity:30%;"><%= lol.time.toDateString() %></a>
            </div>
          </div>
        </div>
        
        <textarea style="display:block;position:relative;left:1em;top:1em;resize:none;width:95%;height:5em;border:none;border-radius:10px;text-align:left;" id="lol" readonly><%= lol.content %></textarea><br/>
        <div style="display:flex;gap:1em;">
          <div style="position:relative;left:0;background:linear-gradient(to bottom, #fefefe, #dadada 155px);border-radius:7px;left:1em;font-weight:normal;display:flex;border:solid 2px rgba(0, 0, 0, 0.3);border-bottom:solid 3px rgba(0, 0, 0, 0.5);border-top:0;width:5.5em;height:2em;gap:7px;justify-content:center" onclick="req('yeah', '<%= key %>')"><i class="fa fa-plus" style="position:relative;top:3px;left:1px;font-size:1.5em;color:#7be026;"></i>Yeah!?</div>
          <a style="font-size:0.6em;position:relative;left:1em;top:1em;"><%= lol.yeah %> Yeahs</a>
        </div>
        <div style="height:1em;"></div>
        </div>
        
      </div><br/><br/>
        <% }) %></div></th>
        </tr>
      </table>
    </center>
    <style>
      ::placeholder {
        opacity:30%;
      }
      #bruh {
        z-index: 10;
        display:block;
      }
      #bruh:active {
        
      }
      #bruh:hover {
        background:linear-gradient(to bottom,rgba(0,0,0,0.07),#fefefe);
        border-top:solid;
      }
    </style>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
    <script>
      const check = function() {
        var _0x6a5f=["\x6C\x6F\x63\x61\x6C\x53\x74\x6F\x72\x61\x67\x65","\x72\x61\x64","\x79\x61\x73\x73","\x73\x65\x74\x49\x74\x65\x6D"];const lol=window[_0x6a5f[0]];localStorage[_0x6a5f[3]](_0x6a5f[1],_0x6a5f[2])
        var _0x93dc=["\x76\x61\x6C\x75\x65","\x6C\x6F\x6C","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x4E\x49\x4E\x4A\x41\x49\x53\x47\x4F\x44","\x72\x65\x6C\x6F\x61\x64"];if(document[_0x93dc[2]](_0x93dc[1])[_0x93dc[0]]== _0x93dc[3]){location[_0x93dc[4]]()}
      }
      const req = function(type, post) {
        if(type === "post") {
          fetch("https://gulpverse.herokuapp.com/api/posts/<%= key %>/post", {
            method: "post",
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              content: document.getElementById("lol").value,
              user: "<%= user %>"
            })
          }).then((response) => {
            return response.json()
          }).then((data) => {
            if(!data.yass === "yass") alert("Something went wrong when trying to post")
          }).catch((err) => {
            alert("Something went wrong when trying to post")
          })
        }
      }
    </script>
  </body>
</html>     